<div class="breadcrumbs">
    <a href="/"><%= __('inicio') %></a> &nbsp;/&nbsp; <a href="/users"><%= __('listado_usuarios') %></a> &nbsp;/ <%= __('permisos_de') %>
    <%=user.nombre %>
        <%=user.apellido1 %>
            <%=user.apellido2 %> &nbsp;
</div>