<link rel="stylesheet" href="/stylesheets/lightbox.css">

<div class="row">
    <!--Edit Main Content Area here-->
    <div class="span12" id="divMain">

        <h1>
            <%=album.nombre%>
        </h1>
        <hr>
        <p>
            <%=album.descripcion%>
        </p>
    </div>
</div>
<br>

<section>
          
    <div class="row-fluid">

        <% let listado = new Array(); %>
        
        <% for(var i=0;fotos!=undefined && i<fotos.length;i++) { 
                listado[i] = new String(fotos[i].RUTA);
        %>
            <div style="border: 0px solid blueviolet;float:left;margin-left:45px;">
                <img src="<%=fotos[i].RUTAMINIATURA%>" class="img-rounded" alt="<%=fotos[i].NOMBRE%>" title="<%=fotos[i].NOMBRE%>" onclick="ShowFotoLightBoxFacade.show('<%=i %>');" />
                <p class="tf-15 negrita">
                    <%=fotos[i].NOMBRE %>
                </p>
                <p>
                    <%= __('visto') %>
                    <span id="visto<%=fotos[i].ID%>">
                        <%=fotos[i].NUMEROVISUALIZACIONES %> 
                    </span> 
                    <%= __('veces') %>
                </p>
                <p>
                    ID # <%=fotos[i].ID %>
                </p>

            </div>    


            
    <% } // for %>
        </div>    
      
</section>


<div id="modalLightBox" class="modal-lightbox">
    <div id="modal" class="modal-foto">
        <!-- Aquí se mostrará el contenido de la fotografía en tamaño real-->
    </div>
</div>


<script type="text/javascript" src="/javascripts/facade/foto/FotoFacade.js"></script>
<script type="text/javascript" src="/javascripts/facade/lightbox/ShowFotoLightBoxFacade.js"></script>
<script tyoe="text/javascript">    
    ShowFotoLightBoxFacade.setFotos('<%= listado %>');
</script>