<% include ../breadcrumbs/uploadImage %>

    <style type="text/css">
        .btn-file {
            position: relative;
            overflow: hidden;
        }
        
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            /*filter: alpha(opacity=0);*/
            opacity: 0;
            /* outline: none;*/
            /*background: rgb(254, 251, 251);*/
            cursor: inherit;
            display: block;
        }
    </style>

    <!--
    <link href="/stylesheets/styleUploadFile.css" rel="stylesheet" />
    -->
    <div class="row-fluid">
        <!--Edit Main Content Area here-->
        <div class="span12" id="divMain">

            <h1><%= __('adjuntar_fotografias_album') %> 
                <%=album.nombre%>
            </h1>

        </div>
    </div>


 <!-- Submenú de administración -->
 <% include ../menu/submenu_subir_fotografias %>



    <div class="row-fluid">
        <div class="span12" id="divMain" style="margin-left:30px;">
            <p>

                <form id="upload" method="POST" role="form" action="" enctype="multipart/form-data" novalidate>
                    <input type="hidden" name="idAlbum" id="idAlbum" value="<%=album.id%>" />

                    <span id="inputFile" name="inputFile" class="btn btn-default btn-file">
                        <%= __('seleccionar') %> <input type="file" name="ficheros[]" id="ficheros" multiple/>
                        </span>

                    <br>
                    <br>
                    <div class="row-fluid">
                        <div class="alert alert-success" role="alert" id="msgFicherosSeleccionados" name="msgFicherosSeleccionados" style="display: none;"></div>
                    </div>
                    <div class="row-fluid">
                        <div class="alert alert-danger" role="alert" id="msgErrorFicherosSeleccionados" name="msgErrorFicherosSeleccionados" style="display: none;"></div>
                    </div>
                    <div style="float:left;margin-right:10px;">
                        <input type='submit' id='botonEnviar' value='<%= __('enviar_ficheros') %>' class="btn btn-success">
                    </div>
                    <div>    
                        <input type='button' id='botonCancelar' value='<%= __('cancelar') %>' class="btn btn-danger" style="display:none;">
                    </div>

                </form>
            </p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="alert alert-danger" role="alert" id="msgErrorUpload" style="display: none;"></div>
    </div>

    <div class="row-fluid">
        <div class="alert alert-success" role="alert" id="msgSuccessUpload" style="display: none;"></div>
    </div>



    <script type="text/javascript" src="/javascripts/facade/user/PermissionFacade.js"></script>
    <script type="text/javascript" src="/javascripts/facade/progress/ProgressFacade.js"></script>
    <script type="text/javascript" src="/javascripts/facade/upload/UploadFileFacade.js"></script>
    <script type="text/javascript" src="/javascripts/facade/album/AlbumFacade.js"></script>

    <script type="text/javascript">


        $("#ficheros").on("change", function(e) {    
            UploadFileFacade.getInstance().procesarFicheros();
        });

        $("#ficheros").on("click", function(e) {    
            UploadFileFacade.getInstance().onClickEventInputFicheros();
        });


        $('#botonCancelar').on("click",function(e){
            UploadFileFacade.getInstance().onClickBotonCancelar();
        });

        $('#upload').submit(function(e){
            return UploadFileFacade.getInstance().enviarFicheros({
                 idAlbum: '<%=album.id %>'
             });
        });

    </script>