
<div class="row-fluid">
        <!--Edit Main Content Area here-->
        <div class="span12" id="divMain">
    
            <h1><%= __('inicio')%></h1>
            <hr>
            
    
            <div id="contenedor" style="width:50%;margin:auto">
    
                    <div id="izquierda" style="float:left;width:40%;height:155px;text-align:center">
                
                        
                        <div class="card" style="border: 1px solid#CCCCCC;padding-bottom: 5px;">
                            
                                <div class="card-header" style="border:1px solid white;background-color: #CCCCCC">
                                    <h4><%= __('videos')%></h4>
                                </div>
                    
                                <div class="card-body" style="padding-top:7px;padding-left:7px;padding-right:7px;">
                                    <p class="card-text"><%= __('mensaje_pantalla_bienvenida_videos')%></p>
                                    <a href="/videos" class="btn btn-success">Ver</a>
                                </div>
                        </div>
                    </div>
                
                    <div id="derecha" style="float:right;width:40%;height:155px;text-align:center">
                
                            <div style="border: 1px solid #CCCCCC;padding-bottom: 5px;">
                            
                                    <div style="border:1px solid white;background-color: #CCCCCC">
                                        <h4><%= __('fotografias')%></h4>
                                    </div>
                        
                                    <div>
                                        <p class="card-text" style="padding-top:7px;padding-left:7px;padding-right:7px;"><%= __('mensaje_pantalla_bienvenida_fotos')%></p>
                                        <a href="/albums" class="btn btn-success">Ver</a>
                                    </div>
                            </div>
                    </div>
                    
                </div>
        
        </div>
        <!--End Main Content here-->
    </div>
    
    
    